<h1>Library Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @library_users.each do |library_user| %>
      <tr>
        <td><%= library_user.user.email %></td>
        <td><%= library_user.is_admin? ? "Yes" : "No" %></td>
        <td>
          <%= link_to 'Edit', edit_library_library_user_path(@library, library_user), class: "btn btn-primary" %>
          <%= link_to 'Remove', library_library_user_path(@library, library_user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add User', new_library_library_user_path(@library), class: "btn btn-success" %>