<!-- Burger Toggle Button -->
<button class="sidebar-toggle" id="sidebarToggle">
  <i class="fa-solid fa-bars"></i>
</button>

<!-- Sidebar -->
<nav class="sidebar" id="sidebar">
  <div class="sidebar__container">
    <!-- App Name -->
    <div class="sidebar__header text-center py-3" id="sidebar__header">
      <h3>CloudBookshelf</h3>
    </div>

    <!-- User Information -->
    <div class="sidebar__user">
      <div class="sidebar__info">
        <h3>User</h3>
        <span><%= current_user.email %></span>
      </div>
    </div>

    <!-- Sidebar Links -->
    <div class="sidebar__content">
      <!-- Manage Section -->
      <div>
        <h3 class="sidebar__title">MANAGE</h3>
        <div class="sidebar__list">

          <%= link_to libraries_path, class: "sidebar__link" do %>
              <i class="fa-solid fa-rectangle-list"></i>
              <span>Library</span>
          <% end %>

          <%= link_to checkouts_path, class: "sidebar__link" do %>
              <i class="fa-solid fa-rectangle-list"></i>
              <span>Checkouts</span>
          <% end %>

          <%= link_to root_path, class: "sidebar__link" do %>
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
          <% end %>

          
        </div>
      </div>

      <!-- Settings Section -->
      <div>
        <h3 class="sidebar__title">SETTINGS</h3>
        <div class="sidebar__list">
          <%= link_to root_path, class: "sidebar__link" do %>
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
          <% end %>
          <%= link_to notifications_path, class: "sidebar__link" do %>
            <i class="fa-solid fa-envelope"></i>
            <span>Notifications</span>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Sidebar Actions -->
    <% if user_signed_in? %>
      <%= form_with url: destroy_user_session_path, method: :delete, class: "sidebar__link" do %>
        <button type="submit">
          <i class="ri-logout-box-r-fill"></i>
          <span>Log Out</span>
        </button>
      <% end %>
    <% end %>
  </div>
</nav>

<!-- Sidebar Toggle Script -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sidebar = document.getElementById("sidebar");
    const sidebarHeader = document.getElementById("sidebar__header");
    const sidebarTitle = document.getElementById("sidebar__title");

    const toggleButton = document.getElementById("sidebarToggle");

    toggleButton.addEventListener("click", () => {
      sidebar.classList.toggle("show-sidebar");
      sidebarHeader.classList.toggle("visually-hidden");
      sidebarTitle.classList.toggle("show-sidebar");
    });
  });
</script>