
<h1>Explore your Library: <%= @library.name %></h1>
<p>Unique ID: <%= @library.unique_id %></p>
<p>Created by: <%= @library.user.email %></p>

<%# Dashboards Links Section %>
<div class="my-3">
  <% if policy(@library).admin_dashboard? %>
    <%= link_to "Admin Dashboard", admin_dashboard_library_path(@library), class: "btn btn-primary" %>
  <% end %>
  <% if policy(@library).user_dashboard? %>
    <%= link_to "User Dashboard", user_dashboard_library_path(@library), class: "btn btn-secondary" %>
  <% end %>
</div>

<%# Books Table Section %>
<h2>Books</h2>
<% if @library.books.any? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @library.books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td>
            <%= link_to 'View', library_book_path(@library, book), class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No books are currently available in this library.</p>
<% end %>

<%= link_to "Back to Libraries", libraries_path, class: 'btn btn-secondary' %>
