<div class="container-fluid my-5">
  <div class="card shadow-lg mb-4">
    <div class="card-body text-center">
      <h1 class="display-5">Explore your Library: <%= @library.name %></h1>
      <p class="lead">Unique ID: <%= @library.unique_id %></p>
      <p>Created by: <%= @library.user.email %></p>
    </div>
  </div>

  <div class="my-2 text-center">
    <% if policy(@library).admin_dashboard? %>
      <%= link_to "Admin Dashboard", admin_dashboard_library_path(@library), class: "btn btn-primary mb-3" %>
    <% end %>
    <% if policy(@library).user_dashboard? %>
      <%= link_to "User Dashboard", user_dashboard_library_path(@library), class: "btn btn-secondary mb-3" %>
    <% end %>
    <%= link_to "Back to Libraries", libraries_path, class: 'btn btn-secondary mb-3' %>
    <%= link_to "Go to List of Books", library_books_path(@library), class: 'btn btn-secondary mb-3' %>


  </div>
</div>
