
<div class=home_container>
<h1 class=hme>Welcome to Cloud Bookshelf</h1>

<% if flash[:notice] %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert alert-danger"><%= flash[:alert] %></p>
<% end %>

<h4 class=hme1>Collaborate, organize, and explore the world of books </h4>
<% if @libraries.any? %>
  <table class="table1 table-bordered">
    <thead>
      <tr>
        <th>Library Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @libraries.each do |library| %>
        <tr>
          <td><%= library.name %></td>
          <td>
            <%= link_to 'View Library', library_path(library), class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Join or create a library to get started!</p>
<% end %>

<div class="mt-3">
  <%= link_to 'Create a Library', new_library_path, class: 'btn btn-success' %>
  <%= link_to 'Access a Library', access_form_libraries_path, class: 'btn btn-info' %>
</div>
</div>
