<%= link_to "edit", edit_library_book_path %>
<%= link_to "catalogue", library_book_path%>

<h1><%= @book.title %></h1>
<p><strong> Author: </strong> <%= @book.author %></p>
<p><strong> Genre: </strong> <%= @book.genre%> </p>
<p><strong> Description: </strong> <%= @book.description%> </p>
