<div class="container-margin">
  <h1 class="text-center display-4 my-4">
    Discover the Book Collection at <span class="text-primary"><%= @library.name %></span>
  </h1>
  <% if policy(@library.books.new).create? %>
    <%= link_to "Add New Book", new_library_book_path(@library), class: 'btn btn-success my-3' %>
  <% end %>

  <%= link_to "Back to Libraries", libraries_path, class: 'btn btn-secondary' %>

  <% if @books.any? %>
    <div class="book-grid">
      <% @books.each do |book| %>
        <div class="book-card">
          <!-- Front Side -->
          <div class="card-side card-front">
            <!-- Book Image -->
            <div class="book-image">
              <% if book.photo.attached? %>
                <%= image_tag book.photo, alt: "Book Cover", class: "book-cover" %>
              <% else %>
                <%= image_tag @image_urls.sample, alt: "Random Book Cover", class: "book-cover" %>
              <% end %>
            </div>
            <!-- Book Title -->
            <div class="book-title">
              <%= book.title %>
            </div>
          </div>

          <!-- Back Side -->
          <div class="card-side card-back">
            <!-- Book Details -->
            <div class="book-details">
              <p class="book-title"><strong>Title:</strong> <%= book.title %></p>
              <p class="book-status"><strong>Status:</strong> <%= book.status%></p>
              <p class="book-format"><strong>Format:</strong> <%= book.format.capitalize %></p>
            </div>

            <!-- Book Actions -->
            <div class="book-actions">
              <%= link_to 'View', library_book_path(@library, book), class: 'btn btn-primary btn-sm' %>
              <% if policy(book).update? %>
                <%= link_to 'Edit', edit_library_book_path(@library, book), class: 'btn btn-warning btn-sm' %>
              <% end %>
              <% if policy(book).destroy? %>
                <%= link_to 'Delete', library_book_path(@library, book),
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="alert alert-warning text-center">No books available in this library.</p>
  <% end %>
</div>
