<h1>Edit Checkout</h1>

<% if flash[:notice] %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert alert-danger"><%= flash[:alert] %></p>
<% end %>

<%= simple_form_for @checkout do |f| %>
  <div class="form-group">
    <p><strong>Book:</strong> <%= @checkout.book.title %></p>
    <%= f.input :start_date, as: :date, label: "Start Date" %>
    <%= f.input :due_date, as: :date, label: "Due Date" %>
  </div>
  <%= f.button :submit, "Update Checkout", class: 'btn btn-primary' %>
<% end %>

<%= link_to "Back to Checkouts", checkouts_path, class: 'btn btn-secondary' %>
