<h1>Borrow Book(s) History </h1>

<div style="margin-top: 20px;">
  <%= link_to 'New Checkout', new_checkout_path, class: 'btn btn-primary' %>
</div>

<table>
  <thead>
    <tr>
      <th style="padding: 20px;">User Details</th>
      <th style="padding: 20px;">Book Title</th>
      <th style="padding: 20px;">Start Date</th>
      <th style="padding: 20px;">Due Date</th>
      <th style="padding: 20px;">Return Date</th>

    </tr>
  </thead>
  <tbody>
    <% @checkouts.each do |checkout| %>

      <tr>
        <td style="padding: 20px;">Name:<%= checkout.user.email %></td>
        <td style="padding: 20px;"><%= checkout.book.title %></td>
        <td style="padding: 20px;"><%= checkout.start_date %></td>
        <td style="padding: 20px;"><%= checkout.due_date %></td>
        <td style="padding: 20px;"><%= checkout.book.status %></td>
        <td style="padding: 20px;"><%= checkout.return_date || "Not returned yet" %></td>
        <td style="padding: 20px;"><%= link_to 'Renew', edit_checkout_path(checkout), class: 'btn btn-primary' %> </td>

      </tr>

    <% end %>
  </tbody>
</table>
