<h1>Reserve a Book</h1>

<% if flash[:notice] %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert alert-danger"><%= flash[:alert] %></p>
<% end %>

<%= simple_form_for @checkout do |f| %>
  <div class="form-group">
    <%= f.input :book_id, collection: @library.books.available, label_method: :title, value_method: :id, label: "Select a Book", prompt: "Choose a book to reserve" %>
    <%= f.input :start_date, as: :date, label: "Start Date" %>
    <%= f.input :due_date, as: :date, label: "Due Date" %>
  </div>
  <%= f.button :submit, "Reserve Book", class: 'btn btn-primary' %>
<% end %>

<%= link_to "Back to Checkouts", checkouts_path, class: 'btn btn-secondary' %>
