<h1>New Checkout</h1>
<%= simple_form_for @checkout, url: checkouts_path do |f| %>
  <%= f.error_notification %>

<!-- Select User -->
  <div class="form-group">
    <%= f.association :user, collection: User.all.pluck(:email, :id),
                      label: "Select a User",
                      prompt: "Choose a user" %>
  </div>
</div>


  <!-- Select Book -->

  <div class="form-group">
    <%= f.association :book, collection: Book.where(status: "available"),
                      label: "Select a Book",
                      prompt: "Choose a book" %>
  </div>

<!-- Start Date -->

  <div class="form-group">
    <%= f.input :start_date, as: :string,
                label: "Start Date",
                input_html: { type: "date", value: Date.today } %>
  </div>

<!-- Due User -->

  <div class="form-group">
    <%= f.input :due_date, as: :string,
                label: "Due Date",
                input_html: { type: "date", value: Date.today + 7 } %>
  </div>

<!-- Submit Button -->

  <div class="form-actions">
    <%= f.button :submit, "Create Checkout", class: "btn btn-primary" %>
  </div>
<% end %>
