<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Bookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=multimodal_hand_eye" />
    <%# <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> %>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <%= render 'shared/sidebar' unless current_page?(root_path) %>

      <!-- Page Content -->
      <div id="page-content-wrapper" class="w-100">
        <!-- <%= render 'shared/navbar' unless current_page?(root_path) %>-->
        <div class="container-fluid py-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
