<!DOCTYPE html>
<html>
  <head>
    <title>CloudBookshelf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "shared/navbar" unless action_name == "home" %>

<%= render "shared/flashes" %>
<div class="dashboard-layout">
      <div class="sidebar-layout">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="content-area-layout">
        <%= render 'shared/flashes' %>
        <div class="container_dashboard ">
          <%= yield %>
        </div>
      </div>

    </div>

    
  </body>
</html>
