<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Bookshelf</title>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <% if user_signed_in? && !(current_page?(root_path) || current_page?(new_user_session_path)) %>
        <%= render 'shared/sidebar' %>
      <% end %>

      <!-- Page Content -->
      <div id="page-content-wrapper" class="w-100">
        <!-- <%= render 'shared/navbar' unless current_page?(root_path) %>-->
        <div class="container-fluid py-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
