<!DOCTYPE html>
<html>
  <head>
    <title>CloudBookshelf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render "shared/flashes" %>
      <%= render "shared/header"%>
      <div class="layout">
        <aside class="sidebar-layout">
          <%= render 'shared/sidebar' unless action_name == "home" %>
        </aside>
      <main class="content-layout">
        <%= yield %>
      </main>
    </div>  

    </div>
  </body>
</html>
